<mat-card
	*ngIf="event"
	class="card flex-column custom-card"
	(click)="clickEvent()"
	[class]="{ 'card--selected': isSelect }"
>
	<div class="card__header">
		<span class="title">{{ event.date }} </span>
		<div class="subtitle">
			<span class="subtitle__hour">{{ event.hour }}</span>
			<span class="">{{ event.genre }}</span>
		</div>
	</div>

	<!-- <div class="card__img"></div> -->
	<!-- <div
		class="card__img"
		[ngStyle]="{
			'background-image': 'url(https://mitocode.blob.core.windows.net/pictures/banner-the-kooks.jpg)'
		}"
	></div> -->

	<div class="card__img" [style.background-image]="'url(' + event.urlImage + ')'"></div>
	<!-- <div class="card__img" style.background-image="{{ 'url(' + event.urlImage + ')' }} "></div> -->

	<div class="card__content flex-column">
		<span class="name-event">{{ event.title }} </span>
		<span class="location">{{ event.place }}</span>
	</div>
</mat-card>
